.vscode/
.DS_Store
others/
*.o
*.tar
.*.swp
# apple debug files
*.dSYM
*handin.tar

1_clab/qtest
2_datalab/btest
2_datalab/fshow
2_datalab/ishow

4_attacklab/try*.txt
4_attacklab/input.txt

5_cachelab/.csim_results
5_cachelab/csim
5_cachelab/test-trans
5_cachelab/tracegen
5_cachelab/.marker
5_cachelab/.marker
5_cachelab/trace.*


